.Container_Info {
    padding: 4vw 3vw;
    border-radius: 20px;
    background-color: #2A416A;
    display: flex;
    justify-content: space-between;
    min-width: 344px;
    margin-top: 3vw;
    margin-bottom: 2vw;
    width: 76vw;
    margin-left: auto;
  margin-right: auto;
    height: 24vw;
}
.Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 
.Logo {
    height: 20vw;
    width: 20vw;
} 
.TitleWrapper {
    display: flex;
    flex-direction: column;
}
.Title {
    color: #fff;
    font-family: Gilroy-Bold;
    font-size: 5vw;
    font-weight: 900;
    line-height: 5vw;
}

.Subtitle {
    font-family: Gilroy-Regular;
    color: #4ddce9;
    font-size: 2vw;
    line-height: 3vw;
    padding-top: 0.7vw;

}

.Description {
    color: #fff;
    font-size: 1.5vw;
    line-height: 2vw;
    font-family: Gilroy-Regular;
    font-weight: 400;
}

.Button {
    background-color: #4460c3;
    border: none;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Gilroy-Bold;
    font-size: 2vw;
    line-height: 2vw;
    margin: 2vw 1vw;
    padding: 1vw;
    text-align: center;
    text-decoration: none;
    transition-duration: .4s;
    width: 60%;

}