.Container_Warning {
    background-color: #4DDCE9;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    margin-top: 10vw;
}

.Title_Warning {
    font-family: 'Gilroy-Regular';
    font-size: 4vw;
    line-height: 4vw;
    text-align: center;
    color: #FFFFFF;
    padding: 20px;

}