.CardContainer {
    width: 38vw;
    height: 38vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #518CCC;
    border-radius: 20px;
}

.CardImage {
    height: 30vw;
    width: 30vw;
    border-radius: 20px;
}

.CardTitle {
    font-family: 'Gilroy-Regular';
    font-size: 3vw;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    margin-top: 2vw;
}
