.CardContainer {
    width: 448px;
    height: 448px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #518CCC;
    border-radius: 20px;
}

.CardImage {
    width: 341px;
    height: 341px;
    border-radius: 20px;
}

.CardTitle {
    font-family: 'Gilroy-Regular';
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
}
