.Carousel_container {
    width: 100%;
    overflow: hidden;
    height: 78vw;
}

.slick-slide {
    transition: all 0.3s ease;
    transform: scale(0.6);
    /* padding: 0 15 0 30px; */
}

.slick-center {
    transform: scale(1);
    margin: 0 25px 0 50px
}

.Carousel_Title {
    margin-right: 10vw;
    color: #4460c3;
    font-family: Gilroy-Bold;
    font-size: 5vw;
    font-weight: 900;
    line-height: 5vw;
    margin-left: 10vw;
    text-align: center;
    margin-top: 8vw;
    margin-bottom: 5vw;
}
